/*********************************************************
    Callouts
*********************************************************/

.call-out {
  position: relative;

  &--is-link {
    transition: background 0.3s ease-out;
    cursor: pointer;
    &:hover {
      background-color: $color-secondary;
    }
  }
  &--has-border {
    border-top: 1px solid $color-border-light;
  }
}

.call-out {
  &--is-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    flex-direction: column;
    @media (min-width: $bp-md) {
      flex-direction: row;
    }
  }
  + .call-out {
    border-top: 1px solid $color-border-light;
  }
}

.call-out__left {
  width: 100%;
  position: relative;
  @media (min-width: $bp-md) {
    width: 25%;
  }
}
.call-out__right {
  width: 100%;
  padding-top: 15px;
  @media (min-width: $bp-md) {
    width: 75%;
    padding-left: 50px;
  }
}

.call-out__number {
  position: absolute;
  font-size: rem(40);
  top: -52px;
  left: 0;
  color: rgba($color-secondary, 0.25);
  @media (min-width: $bp-md) {
    font-size: rem(120);
  }
}
.call-out__title {
  position: relative;
  z-index: 1;
}

.call-out__description {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}
