.pricing-table {
  .plan {
    height: 100%;
    color: $color-black;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: $color-border;

    h3.name {
      font-family: $font-body;
      margin: 0;
      padding: 30px 15px;
      color: $color-white;
      background-color: $color-primary;
      border-bottom: 1px solid $color-border;
    }

    h4.price {
      font-family: $font-body;
      color: $color-primary;
      margin: 0;
      padding: 15px;
      span {
        font-size: 0.9rem;
        color: #636363;
      }
    }

    ul.details {
      list-style-type: none;
      padding: 0;
      @media (min-width: $bp-md) {
        height: 275px;
      }

      li {
        border-bottom: 1px solid #b3b9c4;
        padding: 15px;
        background-color: $color-border-light;
        &:nth-child(even) {
          background-color: $color-border-dark;
        }
      }
    }

    h5.order {
      margin: 0;
      font-size: 17px;
      .btn {
        display: block;
        position: relative;
        background: $color-secondary;
        color: $color-white;
        &:hover {
          color: $color-white;
          background: $color-secondary-dark;
        }
      }
    }
  }
}
