// SVGs

svg:not(:root) {
  overflow: visible;
}
.svg {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  font-size: 100px;
  margin: 0 auto 15px;
  fill: currentColor;
  color: transparent;
  stroke: $color-primary;
  stroke-width: 4px;
  stroke-dasharray: 2000;
  @media (min-width: $bp-md) {
    font-size: 125px;
  }
  &.active {
    animation: drawWeb 3s reverse linear;
    visibility: visible;
  }
}

.svg-wrap {
  width: 1em;
  height: 1em;
  font-size: 3em;
  @media (min-width: $bp-md) {
    font-size: 4em;
  }
}

.svg-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0 auto;
  font-size: 20em;
  @media (min-width: $bp-md) {
    height: auto;
  }
}

.path-lines {
  fill: currentColor;
  color: transparent;
  stroke: rgba($color-white, 0.05);
  stroke-width: 1px;
  stroke-dasharray: 1689;
  animation: fillSvg 12s reverse linear;
}

// svg web
.svg-web {
  stroke-dasharray: 2000;

  .svg-web-browser {
    fill: $color-primary;
  }

  .svg-web-gear-mid {
    //50% 50% not working
    fill: $color-primary-dark;
    transform-origin: 182px 155px;
    animation: spin 5s infinite linear;
  }
}

// svg lock
.svg-lock {
  stroke-width: 5px;
  .line-lg,
  .line-sm {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
  }
  .line-lg {
    animation: drawLine 2s infinite linear forwards,
      fadeIn 2s infinite linear reverse;
  }
  .line-sm {
    animation: drawLine 2s 1s infinite linear forwards,
      fadeIn 2s 1s infinite linear reverse;
  }
}

.terminal {
  color: $color-primary;
}

.slash {
  color: $color-primary;
  animation: pulseOpacity 0.7s infinite linear;
}

.lock {
  color: $color-primary;
}

.gear {
  color: $color-primary;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 182px 155px;
  animation: spin 5s infinite linear;
}

.line-lg,
.line-sm {
  color: $color-primary;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}
.line-lg {
  animation: drawLine 2s infinite linear forwards,
    fadeIn 2s infinite linear reverse;
}
.line-sm {
  animation: drawLine 2s 1s infinite linear forwards,
    fadeIn 2s 1s infinite linear reverse;
}

@keyframes fillSvg {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1689;
  }
}

@keyframes drawLine {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawWeb {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
