---
layout: page
title: The Four Pack
description: 
bodyclass: page-home
hero: Engineering. Branding. Growth.
subtitle: Brick &amp; Monitor is a forward-thinking design &amp; development team helping brands adapt to what's next online.
---

<div class="page-home">

<section class="section section-wrap bg-grey" id="capabilities">
  <div class="container-full">
    {% include services.html %}
  </div>
</section>

<section class="news-layout section-wrap bg-grey">
  <div class="container-full container-full--padded">
    <h4 class="section-title section-title--underline">Featured Projects</h4>
    {% include projects-list-limit-home.html %}
  </div>
</section>

</div><!--/.page-home-->