<div id="contact"></div>

<form id="js-form">

  <div class="row">
    <div class="col-xs-12 col-sm-6 contact-input">
      <input type="text" name="name" id="name" placeholder="Name*">
    </div>
    <div class="col-xs-12 col-sm-6 contact-input">
      <input type="email" name="email" id="email" placeholder="Email*">
    </div>

    <div class="col-xs-12 col-sm-6 contact-input">
      <input type="text" name="website" id="website" placeholder="Website">
    </div>
    <div class="col-xs-12 col-sm-6 contact-input">
      <input type="text" name="plan" id="plan" value="Custom, Dedicated Development Team" disabled>
    </div>

    <div class="col-xs-12 contact-input">
      <textarea type="textarea" rows="4" name="message" id="message" placeholder="Tell us about your project requirements, goals, needs, etc."></textarea>
    </div>

    <div class="col-xs-12 end-xs contact-input">
      <button class="btn arrow" id="js-form-submit" type="submit">Let's Get Started</button>
    </div>
    <p>* You are not making a payment at this time. We will get in touch with you to confirm your website needs before payment begins.</p>
    
  </div><!--/.row-->

</form>

<div class="form-message">
    <div class="row">
      <div class="grid-full">
        <div id="js-form-message"></div>
      </div><!--/.grid-->
    </div><!--/.row-->
  </div><!--/.form-message-->
