<div class="pricing-table">
  <div class="posts-wrapper posts-wrapper--plan">

    <div class="post-item post-item--plan">
      <div class="plan">
        <h3 class="name">Startup</h3>
        <h4 class="price"><span>Starting at </span>$499<span>/month</span></h4>

        <ul class="details">
          <li>Security Audit &amp; Hardening</li>
          <li>Nightly Backups to Cloud</li>
          <li>Website PageSpeed Boost</li>
          <li>SSL/CDN setup</li>
          <li>PLUS 8 development requests/month</li>
        </ul>

        <h5 class="order"><a class="btn arrow" href="{{ site.baseurl }}/plan-startup">Sign up</a></h5>
      </div>
      <!--.plan-->
    </div>
    <!--.post-item--plan-->

    <div class="post-item post-item--plan">
        <div class="plan">
          <h3 class="name">Growth</h3>
          <h4 class="price"><span>Starting at </span>$599<span>/month</span></h4>

          <ul class="details">
            <li><strong>Everything in 'Startup Plan', PLUS</strong>:</li>
            <li>Staging Server Setup</li>
            <li>WordPress Plugin & Core Updates</li>
            <li>Daily Security Scanning</li>
            <li>PLUS 10 development requests/month</li>
          </ul>

          <h5 class="order"><a class="btn arrow" href="{{ site.baseurl }}/plan-growth">Sign up</a></h5>
        </div>
        <!--.plan-->
      </div>
      <!--.post-item--plan-->

      <div class="post-item post-item--plan">
          <div class="plan">
            <h3 class="name">Scale</h3>
            <h4 class="price"><span>Starting at </span>$699<span>/month</span></h4>

            <ul class="details">
                <li><strong>Everything in BOTH plans, PLUS:</strong></li>
                <li>Priority Support</li>
                <li>Quarterly Website Reporting</li>
                <li>Website Enhancements</li>
                <li>PLUS 15 priority Support requests/month</li>
            </ul>

            <h5 class="order"><a class="btn arrow" href="{{ site.baseurl }}/plan-scale">Sign up</a></h5>
          </div>
          <!--.plan-->
        </div>
        <!--.post-item--plan-->

        <div class="post-item post-item--plan">
          <div class="plan">
            <h3 class="name">Custom</h3>
            <h4 class="price"><span>Contact for pricing</span></h4>

            <ul class="details">
                <li><strong>For custom designed projects</strong></li>
                <li>Creative strategy</li>
                <li>Custom design</li>
                <li>Custom development</li>
                <li>Ongoing support available as needed</li>
            </ul>

            <h5 class="order"><a class="btn arrow" href="{{ site.baseurl }}/plan-custom">Get in Touch</a></h5>
          </div>
          <!--.plan-->
        </div>
        <!--.post-item--plan-->

  </div>
</div>
<!--.pricing-table-->
<!--/.posts-wrapper-->

</div>
<section class="news-layout section-wrap bg-white">
    <div class="container">
      <div class="contact-wrapper">
      <div class="one-third left">
        <h4 class="section-title section-title--underline">Support Plan Features</h4>
          <div class="contact-content">
            <li>Dedicated development team</li>
            <li>Technical support</li>
            <li>Daily website backups</li>
            <li>Website updates</li>
          </div><!--/.contact-content-->
        </div><!--/.two-third.left-->
        <div class="two-third right">
          <h4 class="section-title section-title--underline">FAQs</h6>
          <li>How do I submit a support/website request?</li>
          <p><a href="mailto:brian@brickandmonitor.com">Email us</a> or reach out through our <a href="{{site.baseurl}}/contact">contact form</a> at any time.</p>
          <li>How long will it take to complete my request/</li>
          <p>We'll do our best to answer all support requests within 24 hours. In most cases, turnaround time will depend on the nature of the request and we will try to take care of it within the same week. Our scale plan clients will recieve priority support.</p>
          <li>Do support plans include a website redesign?</li>
          <p>In most cases, no. The support &amp; growth plans include ongoing maintence and website enhancement services. While we can definately work with you on your website needs, if you are looking for a complete redesign or a completely new development/feature, contact us for custom development services.</p>
          <li>How do I signup?</li>
          <p>Click the sign up button or contact us here. Fill out the form and we'll be in touch to schedule a meeting to discuss your website needs. Don't worry, you won't be billed until you're ready to start.</p>
          <li>How are payments processed?</li>
          <p>Subscribing to a monthly subscription at the plan's price. We will send an initial invoice, that will automatically renew unless cancelled.</p>
          <li>How do I upgrade my plan?</li>
          <p><a href="{{site.baseurl}}/contact">Reach out to us</a>! We want to be your partners for online success and are more than happy to talk about your needs.</p>
          <li>How do I cancel my plan?</li>
          <p>You can cancel at anytime. Simply <a href="{{site.baseurl}}/contact">contact us</a> and we will immediately remove your next payment.</p>
          <li>What is pricing for custom design &amp; development?</li>
          <p>It depends on your project's scope and requirements. We'll work with you on a schedule that fits your budget and goals.</p>
          </div><!--/.one-third.right-->
      </div><!--<!--/.contact-wrapper-->
    </div><!--/.container-->
  </section>