<div class="team">

<div class="col one-third left">
  <div class="contact-content">
    <img src="{{site.baseurl}}/assets/images/brian-headshot.jpg" alt="brian o'toole">
  </div><!--/.contact-content-->
</div><!--/.one-third.left-->
<div class="two-third right">
  <h4 class="section-title section-title--underline">Brian O'Toole, Lead Developer</h4>
  <p>Brian O'Toole is the Founder &amp; Lead Developer of Brick &amp; Monitor. Brian has 11 years of agency experience working across diverse platforms &amp; devices. He has worked alongside talented teams of designers, developers, and entrepreneurs, which has helped develop a deep understanding about the intuitions of brand marketing.
  <p>Brian sincerely enjoys the work he does and our clients garner the benefits. Outside of work, Brian like to explore new things and keep up with sports... particularly the NFL. Go Jags!</p>
  <ul class="contact-list">
    <li class="contact-list-item half"><a href="https://twitter.com/brianotoole" target="_blank">Brian on Twitter</a></li>
    <li class="contact-list-item half"><a href="https://www.quora.com/profile/Brian-OToole" target="_blank">Brian on Quora</a></li>
   </ul><!--/.contact-list-->
</div><!--/.two-third.right-->


<div class="col one-third left">
    <div class="contact-content">
      <img src="{{site.baseurl}}/assets/images/payton-headshot.jpg" alt="payton bridges">
    </div><!--/.contact-content-->
  </div><!--/.one-third.left-->
  <div class="two-third right">
    <h4 class="section-title section-title--underline">Payton Bridges, Art Director</h4>
    <p>With 15 years of experience in the fields of communication, and brand identity design for small to mid size companies, Payton is well versed in the latest tools and best practices for logo and brand development, print production, and web design. Payton’s proven concept and design abilities have resulted in award winning campaigns across various web and print based communications for a variety of clients across the nation. Payton has worked on brands such as Aston Martin, Dolby, Ryland Homes, Baylor Scott &amp; White Medical, Purgatory Ski Resort, and The University of Texas Systems.</p>
    <ul class="contact-list">
      <li class="contact-list-item half"><a href="https://twitter.com/brianotoole" target="_blank">Brian on Twitter</a></li>
      <li class="contact-list-item half"><a href="https://www.quora.com/profile/Brian-OToole" target="_blank">Brian on Quora</a></li>
     </ul><!--/.contact-list-->
  </div><!--/.two-third.right-->

</div><!-- /.team -->