/*********************************************************
    Hero
*********************************************************/

.hero {
    position: relative;
}

.hero__logo {
    padding-top: rem(30);
    padding-bottom: rem(100);
}

.hero__title {
    padding-bottom: rem(50);
    font-weight: 700;
}

.hero__subtitle {
    @extend .h4;
    font-style: italic;
}