/*********************************************************
    Hero
*********************************************************/

.hero {
    position: relative;
}

.hero__logo {
    width: 200px;
    height: auto;
    padding-bottom: rem(100);
}

.hero__title {}

.hero__subtitle {}