/*********************************************************
    Page 
*********************************************************/

.site-wrapper {
    border: 10px solid $color-primary;
    margin: 0 auto;
    text-align: center;
}

.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    &--narrow {
        max-width: 976px;
    }
}

.section {
    padding-top: rem(30);
    padding-bottom: rem(30);
    &--primary {
        color: white;
        background-color: $color-primary;
    }
    &--secondary {
        color: white;
        background-color: $color-secondary;
    }
    &--white {
        color: black;
        background-color: $color-white;
    }
    &--black {
        color: white;
        background-color: black;
    }
}

.section--pad-lg {
    padding-top: rem(60);
    padding-bottom: rem(60);
}

.section--pad-xl {
    padding-top: rem(90);
    padding-bottom: rem(90);
}