/*********************************************************
    Page 
*********************************************************/

.site-wrapper {
  border: 12px solid $color-primary;
  overflow: hidden;
}

.pre-loader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12px;
  height: 0;
  overflow: hidden;
  z-index: 1;
  background: transparent;
  &.is-loading {
    position: absolute;
    overflow: hidden;
    background: $color-body;
    z-index: 1;
    animation: loading_bottom_left 0.2s, loading_top_left 0.2s 0.2s,
      loading_top_right 0.2s 0.4s, loading_bottom_right 0.2s 0.6s;
  }
}

@keyframes loading_bottom_left {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
    left: 0;
  }
}

@keyframes loading_top_left {
  0% {
    width: 12px;
    height: 12px;
    top: 0;
    right: calc(100% - 12px);
  }
  100% {
    width: 100%;
    height: 12px;
    top: 0;
    right: calc(100% - 12px);
  }
}

@keyframes loading_top_right {
  0% {
    height: 0;
    width: 12px;
    top: 0;
    left: calc(100% - 12px);
  }
  100% {
    height: 100%;
    width: 12px;
    top: 0;
    left: calc(100% - 12px);
  }
}

@keyframes loading_bottom_right {
  0% {
    width: 12px;
    height: 12px;
    top: calc(100% - 12px);
    left: calc(100% - 12px);
  }
  100% {
    width: 100%;
    height: 12px;
    top: calc(100% - 12px);
  }
}

.pre-loader-logo-wrap {
    display: none;
    position: absolute;
    top: 12px;
    left: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    background: $color-grey;
    z-index: 3;
    &.active {
       display: block;
    }
}
.pre-loader-logo {
    position: absolute;
    width: 150px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 2;
    .svg {
        display: none;
        fill: currentColor;
        color: transparent;
        stroke: $color-primary;
        stroke-width: 4px;
        stroke-dasharray: 2000;
        &.active {
            display: block;
            animation: draw 0.6s reverse linear;
            visibility: visible;
        }
    }
}

@keyframes draw {
    from {
      color: transparent;
      stroke-dashoffset: 0;
    }
    to {
      color: black;
      stroke-dashoffset: 2000;
    }
  }

.wrapper {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  &--narrow {
    max-width: 976px;
  }
}

.section {
  padding-top: rem(30);
  padding-bottom: rem(30);
  &--underline {
    border-bottom: 2px solid $color-grey;
  }
  &--primary {
    color: white;
    background-color: $color-primary;
  }
  &--secondary {
    color: white;
    background-color: $color-secondary;
  }
  &--white {
    color: black;
    background-color: $color-white;
  }
  &--black {
    color: white;
    background-color: black;
  }
  &--grey {
    background-color: $color-grey;
  }
}

.section--pad-lg {
  padding-top: rem(60);
  padding-bottom: rem(60);
}

.section--pad-xl {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include bp_md {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}
