/*********************************************************
    Page 
*********************************************************/

.site-wrapper {
    border: 12px solid $color-primary;
    overflow: hidden;
}

.pre-loader {
    position: absolute;
    top: 0;
    left: 12px;
    width: 0;
    height: 12px;
    overflow: hidden;
    z-index: 1;
    background: transparent;
    &.is-loading {
      position: absolute;
      overflow: hidden;
      background: $color-body;
      z-index: 1;
    }
}

.wrapper {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    &--narrow {
        max-width: 976px;
    }
}

.section {
    padding-top: rem(30);
    padding-bottom: rem(30);
    &--underline {
        border-bottom: 2px solid $color-grey;
    }
    &--primary {
        color: white;
        background-color: $color-primary;
    }
    &--secondary {
        color: white;
        background-color: $color-secondary;
    }
    &--white {
        color: black;
        background-color: $color-white;
    }
    &--black {
        color: white;
        background-color: black;
    }
    &--grey {
        background-color: $color-grey;
    }
}

.section--pad-lg {
    padding-top: rem(60);
    padding-bottom: rem(60);
}

.section--pad-xl {
    padding-top: rem(60);
    padding-bottom: rem(60);
    @include bp_md {
        padding-top: rem(120);
        padding-bottom: rem(120);
    }
}