<!DOCTYPE html>
<html>
{% include head.html %}

<body class="{% if page.bodyclass %}{{ page.bodyclass }}{% else %}{{ layout.bodyclass }}{% endif %}">
    <div class="site-wrapper">
        <div class="pre-loader"></div>
        <!--<header class="header">
            {% include header.html %}
        </header>-->

        {{ content }} 
        {% include footer.html %}
    </div>
    <!--/.site-wrapper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/app.js"></script>

</body>

</html>