/*********************************************************
    Typography
*********************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: 300;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: font-scale(3);
    @include bp_md {
        font-size: font-scale(6);
    }
}

h2,
.h2 {
    font-size: font-scale(2.5);
    @include bp_md {
        font-size: font-scale(5);
    }
}

h3,
.h3 {
    font-size: font-scale(2);
    @include bp_md {
        font-size: font-scale(4);
    }
}

h4,
.h4 {
    font-size: font-scale(1.5);
    @include bp_md {
        font-size: font-scale(3);
    }
}

h5,
.h5 {
    font-size: font-scale(1);
    @include bp_md {
        font-size: font-scale(2);
    }
}

h6,
.h6 {
    font-size: font-scale(0);
}

p {
    font-size: font-scale(0);
    @include bp_md {
        font-size: font-scale(1);
    }
    margin: 0 0 rem(30) 0;
}

.heading {
    @extend h6;
    font-family: $font-body;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: rem(40);
    &--m-bottom {
        padding-bottom: rem(60);
    }
}

.heading-underline {
    @extend h5;
    font-weight: 700;
    margin-bottom: rem(20);
    padding-bottom: rem(20);
    border-bottom: 2px solid $color-grey;
    @include bp_md {
        margin-bottom: rem(40);
    }
}